@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-bgContrast: #fafafa;
  --color-textContrast: #0a0a0a;
}

@layer theme {
  .dark {
    --color-bgContrast: #0a0a0a;
    --color-textContrast: #fafafa;
  }
}
